.resume-info__root {
  margin-top: 70px;
  margin-left: 7%;
  background: #07a780;
  border-radius: 25px;
  width: max-content;
  padding-top: 50px;
  padding-bottom: 50px;
}

.resume-info__title {
  display: block;
  font-size: 2.3rem;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Nunito";
  color: white;
}

.resume-info__attribute {
  margin: 20px;
}

.resume-info__attribute__name {
  font-family: "Nunito";
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.resume-info__attribute__value {
  font-family: "Nunito";
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: pre-wrap;
}

@media (max-width: 850px) {
  .resume-info__root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    background: #07a780;
    border-radius: 25px;
    width: 60%;
    margin-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .resume-info__title {
    display: block;
    font-size: 2.3rem;
    font-weight: 700;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Nunito";
    color: white;
  }
}
